<div class="container">
  <div class="container classic-blue">
    <div class="emblem-container">
      <div class="competition-emblem-container">
        <img *ngIf="leagueStandings.length" [src]="leagueStandings[0].competitionEmblem" alt="Competition Emblem" class="competition-emblem">
      </div>
    </div>
  
    <div class="input-field-container">
      <div class="form-group">
        <label for="leagueCode">Select League:</label>
        <select id="leagueCode" [(ngModel)]="selectedLeagueCode" class="form-control">
          <option *ngFor="let league of leagueCodes" [value]="league.code">
            {{ league.name }}
          </option>
        </select>
      </div>
  
      <div class="form-group">
        <label for="seasonYear">Enter Season Year:</label>
        <input id="seasonYear" type="number" [(ngModel)]="selectedSeasonYear" class="form-control">
      </div>
  
      <button (click)="fetchStandings()" class="action-btn">Fetch Standings</button>
    </div>
  <!-- Headers for the standings table -->
  <div class="standings-header">
    <div class="team-info">
      <span></span>
      <span>Position</span>
      <span>Short Name</span>
      <span>Matches Played</span>
      <span>Won</span>
      <span>Loss</span>
      <span>Points</span>
    </div>
  </div>

  <div class="competition" *ngFor="let item of getLimitedStandings()">
    <div class="team-info">
      <div class="team-photo-container" (click)="onTeamClick(item.teamName)">
        <img [src]="item.teamCrest" [alt]="item.teamName" class="teamCrest">
      </div>
      <span class="team-position">{{item.position}}</span>
      <span class="team-shortname">{{item.teamShortName}}</span>
      <span>{{item.matchesPlayed}}</span>
      <span>{{item.gamesWon}}</span>
      <span>{{item.gamesLost}}</span>
      <span>{{item.noOfPoints}}</span>
    </div>
    <!-- Form display with icons when the team is clicked -->
    <div class="team-form" *ngIf="clickedTeam === item.teamName">
     <span> Last 5 Games: {{item.teamForm}} </span>
    </div>
  </div>
</div>
