.matches {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.head-to-head {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto auto;
  gap: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.team-logos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 1 / 2;
}

.team-logos img {
  width: 50px; /* Adjust as needed */
  height: 50px; /* Adjust as needed */
  margin: 5px 0;
}

.home-team-name,
.away-team-name {
  text-align: center;
  grid-column: 2 / 3;
  font-size: 1.5rem;
}

.match-score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 3 / 3;
}

.match-score-number {
  font-size: 1.5rem;
  margin: 0 5px;
}

.match-score-divider {
  font-size: 1.5rem;
}

.match-referee,
.match-date {
  text-align: center;
  grid-column: 1 / 4;
  font-size: 0.6rem;
}

.match-date {
  margin-top: 5px;
  font-size: 0.8rem;
}

.vs{
  font-size: .8rem;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Space between elements */
  padding: 20px;
  max-width: 1200px; /* Adjust based on your layout */
  margin: 0 auto; /* Center the container */
}

.filters {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap onto the next line if necessary */
  gap: 10px; /* Space between filter items */
}

.filters select,
.filters input,
.filters button {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.filters select {
  flex: 1; /* Allow selects to grow and fill available space */
}

.filters input {
  width: 100px; /* Set a fixed width for the input */
}

.filters button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.filters button:hover {
  background-color: #0056b3;
}

.error {
  color: #d9534f;
  background-color: #f9d6d5;
  padding: 10px;
  border: 1px solid #d9534f;
  border-radius: 4px;
}

.competition-info {
  display: flex;
  align-items: center;
  gap: 15px; /* Space between emblem and name */
}

.competition-emblem {
  width: 50px; /* Adjust size as needed */
  height: auto;
}

.competition-name {
  font-size: 1.5rem;
  margin: 0;
}
