<div class="container classic-blue">
  <div class="filters-container">
    <h2 class="filters-heading">Matchday</h2>

    <div class="current-datetime">
      {{ today | date: 'EEEE, MMMM d, yyyy, hh:mm' }}
    </div>

    <div class="divider"></div>

    <div class="filters">
      <select [(ngModel)]="selectedLeague" (change)="fetchMatches()" class="form-control">
        <option *ngFor="let league of leagueCodes" [value]="league.code">
          {{ league.name }}
        </option>
      </select>
      <select [(ngModel)]="selectedSeason" (change)="fetchMatches()" class="form-control">
        <option *ngFor="let year of seasonYear" [value]="year">
          {{ year }}
        </option>
      </select>
      <div class="button-input">
        <input
          type="number"
          [(ngModel)]="matchday"
          [value]="1"
          min="1"
          max="38"
          placeholder="1"
          class="form-control"
        />
        <button (click)="fetchMatches()" class="action-btn">Fetch Matches</button>
      </div>
    </div>
  </div>
  
  

  <div *ngIf="error" class="error">{{ error }}</div>

  <!-- Competition Emblem and Name Display -->
  <div class="select-section">
   
    <button>Previous Games</button>

    <button>Upcoming Games</button>
  </div>


  <div class="matches" *ngFor="let match of matches">

    <div class="head-to-head">


      <div class="match-date">
        {{ match.utcDate | date: 'd MMM yyyy, h:mm a' }}
      </div>

      <div class="team-logos">
        <img [src]="match.homeTeamCrest" [alt]="match.homeTeamName" />
        <img [src]="match.awayTeamCrest" [alt]="match.awayTeamName" />
      </div>

      <div class="home-team-name">
        <h2 class="home-team-name">{{ match.homeTeamShortName }}</h2>
        <span class="vs">vs</span>
        <h2 class="away-team-name">{{match.awayTeamShortName}}</h2>
      </div>

      <div class="match-score">
        <span class="match-score-number match-score-number--leading">{{ match.homeFullScore }}</span>
      
        <span class="match-score-number">{{ match.awayFullScore }}</span>
      </div>

      <div class="match-referee">
        Referee: <strong>{{ match.refName }}</strong>
      </div>

    </div>
  </div>
  
</div>