<div class="form-container">
    <h2 class="form-header">Search Team Statistics</h2>
  
    <form  class="team-form">
      <div class="form-group">
        <label for="league">Select League:</label>
        <select id="league" name="league" required>
          <option [value]="">
            
          </option>
        </select>
      </div>
  
      <div class="form-group">
        <label for="team">Select Team:</label>
        <select id="team" name="team" required>
          <option  [value ="">
           
          </option>
        </select>
      </div>
  
      <div class="form-group">
        <label for="season">Season:</label>
        <input id="season" type="number"  name="season" required />
      </div>
  
      <button type="submit" class="submit-btn">Search</button>
    </form>
  </div>
  