/* Classic Blue Theme */
.profile-container.classic-blue {
  background-color: #f0f4f8;
  border: 1px solid #c4d0e0;
  border-radius: 8px;
  padding: 20px;
  max-width: 600px;
  margin: auto;
}

.profile-container.classic-blue h2 {
  color: #003366;
}

.profile-info, .edit-form {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.button-group{
  display: flex;
  justify-content: space-around;
}


.profile-pic {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.edit-btn, .save-btn, .cancel-btn {
  background-color: #003366;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

.edit-btn:hover, .save-btn:hover, .cancel-btn:hover {
  background-color: #002244;
}
