<!-- <div class="login-form-container">
     -->
    <!-- <img src="assets\Persistence.jpg" alt="" width="70px" height="70px">
     -->
<!-- 
    <form action="">

        <label for="firstName"> First Name:</label>
        <input type="text" id="firstName" placeholder="first-name">
        <br>

        <label for="lastName"> Last Name:</label>
        <input type="text" id="firstName" placeholder="first-name">
        <br>

        <label for="userName">User Name</label>
        <input type="text" id="firstName" placeholder="username">
        <br>

        <label for="passworf">Password</label>
        <input type="text" id="firstName" placeholder="password">
        <br>

        <button>Register</button>
    </form>
</div> -->

<!-- <div class="login-container">
    <a routerLink="/home">
        <img src="assets/logo.jpeg.png" alt="Logo">
    </a>
  
    <app-alert-modal [success]="successMessage" *ngIf="successMessage" (close)="successMessage = null"></app-alert-modal>
  
    <form class="form-container" [formGroup]="login" (ngSubmit)="signInForm()">
        <h2>Welcome Back!</h2>
        <h6>To login, please enter your details.</h6>
  
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" formControlName="email" class="form-control" id="email" placeholder="e.g Lisa@gmail.com" aria-label="Email Address">
            <div *ngIf="login.get('email')?.invalid && (login.get('email')?.dirty || login.get('email')?.touched)" class="text-danger">
                <p *ngIf="login.get('email')?.errors?.['required']">Email is required.</p>
                <p *ngIf="login.get('email')?.errors?.['email']">Invalid email format.</p>
            </div>
        </div>
  
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" formControlName="password" class="form-control" id="password" placeholder="*******" aria-label="Password">
            <p>Forgot password? <a [routerLink]="['/reset-password']">Reset here</a></p>
            <div *ngIf="login.get('password')?.invalid && (login.get('password')?.dirty || login.get('password')?.touched)" class="text-danger">
                <p *ngIf="login.get('password')?.errors?.['required']">Password is required.</p>
            </div>
        </div>
  
        <button type="submit" [disabled]="login.invalid">Login</button>
        <br>
        <br>
        <p *ngIf="error" class="text-danger">{{ error }}</p>
        
        <p>Don't have an account? <a routerLink="/register">Register</a></p>
    </form>
  </div>
   -->

   <div class="login-container">
    <a routerLink="/home">
      <img src="assets/logo.jpeg.png" alt="Logo">
    </a>
  
    <app-alert-modal [success]="successMessage" *ngIf="successMessage" (close)="successMessage = null"></app-alert-modal>
  
    <form class="form-container" [formGroup]="login" (ngSubmit)="signInForm()">
      <h2>Welcome Back!</h2>
      <h6>To login, please enter your details.</h6>
  
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" formControlName="email" class="form-control" id="email" placeholder="e.g Lisa@gmail.com" aria-label="Email Address">
        <div *ngIf="login.get('email')?.invalid && (login.get('email')?.dirty || login.get('email')?.touched)" class="text-danger">
          <p *ngIf="login.get('email')?.errors?.['required']">Email is required.</p>
          <p *ngIf="login.get('email')?.errors?.['email']">Invalid email format.</p>
        </div>
      </div>
  
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" formControlName="password" class="form-control" id="password" placeholder="*******" aria-label="Password">
        <p>Forgot password? <a [routerLink]="['/reset-password']">Reset here</a></p>
        <div *ngIf="login.get('password')?.invalid && (login.get('password')?.dirty || login.get('password')?.touched)" class="text-danger">
          <p *ngIf="login.get('password')?.errors?.['required']">Password is required.</p>
        </div>
      </div>
  
      <button type="submit" [disabled]="login.invalid">Login</button>
      <br>
      <br>
      <p *ngIf="error" class="text-danger">{{ error }}</p>
  
      <p>Don't have an account? <a routerLink="/register">Register</a></p>
    </form>
  </div>
  